/* 
    This is the CSS file for the page component. 
    It contains the styles for the header of the page.
*/
.header {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table-container {
  width: 80%;
  max-width: 1200px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Table styles */
.kol-table {
  width: 100%;
  border-collapse: collapse;
}

.kol-table th,
.kol-table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

.kol-table th {
  background-color: #4caf50;
  color: white;
}

.kol-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.kol-table tr:hover {
  background-color: #ddd;
}

.verified {
  color: green;
  font-weight: bold;
}

.unverified {
  color: red;
  font-weight: bold;
}

.green-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.green-button:hover {
  background-color: #45a049;
}

.next-page-div {
  display: flex;
  justify-content: end;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.close-button {
  background: transparent;
  border: none;
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.modal-images img {
  width: 70px;
  height: auto;
  margin-right: 10px;
}

.card-clickable {
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
}